---
layout: base.njk
---
<div class="wrap">
  <div class="article-head">
    <p class="kicker">{{ kicker }}</p>
    <h1>{{ title }}</h1>
    <p class="standfirst">{{ standfirst | safe }}</p>
    <div class="byline">
      <span><b>{{ site.author }}</b></span>
      {% for tag in bylineTags %}<span>{{ tag }}</span>{% endfor %}
    </div>
  </div>
  {{ content | safe }}
</div>
